<div class="root">

  <div class="account">

    <form
      class="account--form form"
      [formGroup]="form"
      (submit)="onSubmit($event)"
    >
      <mat-form-field class="form--control">
        <mat-label>Название</mat-label>
        <input matInput placeholder="Мой счет" formControlName="name">
      </mat-form-field>

      <mat-form-field class="form--control">
        <mat-label>Описание</mat-label>
        <textarea matInput formControlName="description"></textarea>
      </mat-form-field>

      <mat-form-field class="form--control">
        <mat-label>Остаточная сумма</mat-label>
        <input matInput type="number" formControlName="amount">
      </mat-form-field>

      <mat-form-field class="form--control" *ngIf="currencies$ | async as currencies">
        <mat-label>Валюта</mat-label>
        <mat-select
          (selectionChange)="onCurrencyChange($event)"
        >  
          <mat-option
            *ngFor="let currency of Object.values(currencies)"
            [value]="currency.id"
          >
            {{ currency.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="form--buttons">
        <button mat-flat-button mat-dialog-close>Отмена</button>
        <button
          mat-flat-button
          color="primary"
          [mat-dialog-close]="true"
          type="submit"
        >
          Создать
        </button>
      </div>

    </form>

  </div>

</div>
