:host {
  display: block;
}

.root {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-in {
  max-width: 30rem;
  width: 100%;
}

.form {
  &__control {
    width: 100%;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }

  &__button + &__button {
    margin-left: 1.6rem;
  }
}
