<bg-spinner></bg-spinner>

<div class="app">
  <bg-header></bg-header>

  <div class="app__main">
    <mat-sidenav-container>
      <mat-sidenav mode="side" [opened]="true">
        <div>
          <ul>
            <li>
              Счет 1
            </li>
            <li>
              Счет 2
            </li>
            <li>
              Счет 3
            </li>
          </ul>
        </div>
      </mat-sidenav>

      <mat-sidenav-content>
        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
</div>
