.main {
  position: relative;
  display: grid;
  grid-template-columns: 300px 1fr 100px;

  &--add {
    position: absolute;
    right: 5rem;
    top: 0;
    transform: translateY(-50%);
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: red;
  }
}

.account {
  max-width: 40rem;
  width: 100%;

  & + & {
    margin-top: 1rem;
  }

  &--button {
    & + & {
      margin-left: 1rem;
    } 
  }
}