.flex {
  display: flex;

  &-inline {
    display: inline-flex;
  }

  &.fd-row {
    flex-direction: row;
  }

  &.fd-column {
    flex-direction: column;
  }

  &.jc-center {
    justify-content: center;
  }

  &.ai-center {
    align-items: center;
  }
}