<div class="root">
  <div class="account" *ngIf="currentAccount$ | async as currentAccount">

    <h1 class="account__title">
      {{ currentAccount.name }}
    </h1>

    <main class="account__main">
      <div class="account__amount amount">
        <div class="amount__incomes"></div>
        <div class="amount__expense"></div>
        <div class="amount__inner">
          <p class="amount__value">
            +500 руб.
          </p>
          <button
            mat-button
            color="primary"
            class="account__add"
            (click)="onAddItem()"
          >
            Добавить
          </button>
        </div>
      </div>

      <ul class="account__payments payments">
        <li class="payments__date">
          <h3 class="payments__title">
            Сегодня
          </h3>
          <ul class="payments__list">
            <li
              class="payments__payment payment"
              *ngFor="let payment of currentAccount.payments"
            >
              <div class="payment__name" [style.color]="payment.category.color">
                {{ payment.category.name }}
              </div>
              <div class="payment__amount">
                <span
                  class="payment__value"
                  [ngClass]="{
                    'payment__value': true,
                    'payment__value_income': payment.type === 'INCOME',
                    'payment__value_expense': payment.type === 'EXPENSE'
                  }"
                >
                  {{ payment.amount | currency: payment.currency : 'symbol-narrow' }}
                </span>
              </div>
            </li>
          </ul>
        </li>

        <li class="payments__date">
          <h3 class="payments__title">
            Вчера
          </h3>
        </li>
      </ul>
    </main>



  </div>
</div>
