<div class="root">

  <div class="transactions">
    <div class="transactions__wrapper">
      <div class="transactions__filter" *ngIf="accounts$ | async as accounts">
        <bg-transactions-filter
          [accounts]="accounts"
          (filterChange)="onFilterChange($event)"
        ></bg-transactions-filter>
      </div>

      <div class="transactions__main">
        <bg-add-transaction
          class="transactions__add-transaction"
          [categories]="categories$ | async"
          [accounts]="accounts$ | async"
          [currencies]="currencies$ | async"
          (addTransaction)="onTransactionAdd($event)"
        ></bg-add-transaction>

        <bg-transactions-history
          class="transactions__history"
          [transactions]="transactions$ | async"
          [currencies]="currencies$ | async"
          [categories]="categories$ | async"
        ></bg-transactions-history>
      </div>
    </div>

  </div>
</div>
