<div class="account">
  <form [formGroup]="form" class="flex fd-column account--form" (submit)="onSubmitForm()">
    
    <mat-form-field class="account--field">
      <mat-label>Название счета</mat-label>
      <input matInput placeholder="Мой счет" formControlName="name">
    </mat-form-field>
  
    <mat-form-field class="account--field">
      <mat-label>Описание</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>

    <mat-form-field class="account--field">
      <mat-label>Тип счета</mat-label>
      <input matInput formControlName="type">
    </mat-form-field>

    <mat-form-field class="account--field">
      <mat-label>Валюта</mat-label>
      <input matInput formControlName="currency">
    </mat-form-field>

    <mat-form-field class="account--field">
      <mat-label>Номер счета</mat-label>
      <input matInput formControlName="accountNumber">
    </mat-form-field>

    <mat-form-field class="account--field">
      <mat-label>Дата создания</mat-label>
      <input matInput formControlName="createdAt">
    </mat-form-field>

    <button type="submit" mat-raised-button color="primary">Создать</button>
    <button mat-raised-button>Отменить</button>
  </form>
</div>
