<header class="header">
  <div class="header--top">
    <h1 class="header--title">
      Мой бюджет
    </h1>

    <div class="header--user-info">

    </div>

    <button (click)="showSidenav.emit()">Сайдбар</button>

    <button (click)="logout.emit()">Logout</button>
  </div>

  <nav mat-tab-nav-bar backgroundColor="primary">
    <a
      mat-tab-link
      *ngFor="let link of links"
      [routerLink]="link.href"
      routerLinkActive
      #rla="routerLinkActive"
      [active]="rla.isActive"
    >
      {{ link.label }}
    </a>
  </nav>
</header>
