.header {
  display: grid;
  grid-template-areas: 'header__title header__nav header__logout';
  grid-template-columns: 2fr 5fr 1fr;
  background-color: #673ab7;
  padding: 1.6rem;
  align-items: center;
  column-gap: 1.6rem;

  &__title {
    grid-area: header__title;
    color: #fff;
  }

  &__nav {
    grid-area: header__nav;
  }

  &__logout {
    grid-area: header__logout;
    justify-self: center;
  }

  &__link {
    color: #fff;
    font-weight: bold;
    font-size: 1.8rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

.nav {
  &__item {
    display: inline-block;
  }

  &__item + &__item {
    margin-left: 1.6rem;
  }
}
