.header {
  align-items: center;
  background-color: #673ab7;
  display: flex;

  &__title {
    color: white;
    padding: 1.6rem;
  }

  &__nav {
    align-items: center;
    display: flex;
    flex: 1;
    justify-content: space-between;
  }
}

.nav {
  padding: 1.6rem;

  &__link {
    color: #fff;
  }

  &__link + &__link {
    margin-left: 1.6rem;
  }

  &__block + &__block {
    margin-left: 4rem;
  }
}
