<header class="header">
  <h1 class="header__title">
    Мой бюджет
  </h1>

  <nav class="header__nav nav">

    <div class="nav__block">
      <a
        *ngFor="let link of links"
        [routerLink]="link.href"
        class="nav__link"
      >
        {{ link.label }}
      </a>
    </div>

    <div class="nav__block">
      <button class="nav__link" (click)="logout.emit()">Logout</button>
    </div>

  </nav>

  <!-- <div class="header--top">

    <button (click)="showSidenav.emit()">Сайдбар</button>

  </div> -->
</header>
