.root {
  display: flex;
  align-items: flex-start;
  flex-flow: row wrap;
  padding: 1.6rem;
}

.accounts {
  margin-right: 1.6rem;
}

.link {
  &__name {
    display: block;
  }

  &__description {
    display: block;
    font-size: 1.2rem;
    color: #999;
  }
}
