<div class="accounts">
  <aside class="accounts__aside aside">
    <mat-card class="aside__item">
      <mat-card-title>
        Счета
      </mat-card-title>

      <mat-card-content *ngIf="accounts.length > 0">
        <mat-nav-list>
          <mat-list-item class="accounts__item item" *ngFor="let account of accounts">
            <div class="item__inner">
              <p class="item__title">
                <span class="item__name">
                  {{ account.name }}
                </span>
                <span>
                  {{
                    getAmountByAccountId(account.id)
                      | currency: currencies[account.currencyId]?.name:'symbol-narrow'
                  }}
                </span>
              </p>
              <p>
                <span class="item__description" *ngIf="account.description">
                  {{ account.description }}
                </span>
              </p>
            </div>

            <button mat-icon-button (click)="onEditAccount(account)">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button (click)="onDeleteAccount(account.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary" (click)="onAddAccount()">
          Добавить счет
        </button>
      </mat-card-actions>
    </mat-card>

    <mat-card class="aside__item">
      <mat-card-title>
        Категории
      </mat-card-title>

      <mat-card-content *ngIf="categoriesList$ | async as categories">
        <mat-nav-list class="categories">
          <mat-list-item *ngFor="let category of categories">
            <span class="accounts__category" [style.color]="category.color">{{
              category.name
            }}</span>
            <button mat-icon-button (click)="onDeleteCategory(category.id)">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-nav-list>
      </mat-card-content>

      <mat-card-actions>
        <button mat-button color="primary" (click)="onAddCategory()">
          Добавить категорию
        </button>
      </mat-card-actions>
    </mat-card>
  </aside>

  <main class="accounts__main">
    <bg-statistics
      [accounts]="accounts"
      [accountsEntity]="accountsEntity$ | async"
      [transactions]="transactions"
      [categories]="categories$ | async"
      [currencies]="currencies"
    ></bg-statistics>
  </main>
</div>
