.accounts {
  padding: 1.6rem;
  display: grid;
  grid-template-columns: 1fr 3fr;
  column-gap: 1.6rem;

  &__aside {
    min-width: 34rem;
  }

  &__main {
    justify-self: center;
  }
}

.link {
  &__name {
    display: block;
  }

  &__description {
    color: #999;
    display: block;
    font-size: 1.2rem;
  }
}
