<div class="root">
  <div class="payment">
    <form class="payment__form form" [formGroup]="form" (submit)="onSubmit($event)">

      <div class="form__control-group">
        <mat-form-field class="form__control">
          <mat-label>Категория</mat-label>
          <input matInput placeholder="Спорт" formControlName="category">
        </mat-form-field>
  
        <mat-form-field class="form__control">
          <mat-label>Цвет</mat-label>
          <input matInput type="color" formControlName="categoryColor">
        </mat-form-field>
      </div>

      <div class="form__control-group">
        <mat-form-field class="form__control">
          <mat-label>Сумма</mat-label>
          <input matInput formControlName="amount">
        </mat-form-field>
  
        <mat-form-field class="form__control">
          <mat-label>Валюта</mat-label>
          <input matInput formControlName="currency">
        </mat-form-field>
      </div>

      <mat-radio-group
        class="form__control"
        formControlName="type"
      >
        <mat-radio-button class="form__radio" value="expense">
          Расходы
        </mat-radio-button>
        <mat-radio-button class="form__radio" value="income">
          Доходы
        </mat-radio-button>
      </mat-radio-group>

      <div class="form__buttons">
        <button
          class="form__button"
          mat-flat-button mat-dialog-close
        >
          Отмена
        </button>
        <button
          class="form__button"
          mat-flat-button
          color="primary"
          [mat-dialog-close]="true"
          type="submit"
        >
          Добавить
        </button>
      </div>
    </form>
  </div>
</div>