:host {
  display: block;
}

.history {
  width: 100%;

  &__table {
    background-color: transparent;
    width: 100%;
  }
}

.table {
  &__tr {
    background-color: white;

    &_grouped {
      background-color: inherit;

      span {
        font-weight: bold;
      }
    }
  }

  &__td {
    &__account {
      &__inner {
        align-items: center;
        display: flex;
      }
    }

    &__group {
      &__text {
        font-size: 1.6rem;
      }
    }
  }
}
