:host {
  display: block;
}

.history {
  width: 100%;

  &__table {
    width: 100%;
    background-color: transparent;
  }
}

.table {
  &__tr {
    background-color: white;

    &_grouped {
      background-color: inherit;

      span {
        font-weight: bold;
      }
    }
  }
}