<mat-card class="">

  <mat-card-title
    class="mat-card-title"
    *ngIf="!isTransactionBlockShown"
  >
    <button
      mat-icon-button
      (click)="isTransactionBlockShown = !isTransactionBlockShown"
    >
      <mat-icon>add</mat-icon>
    </button>
    Добавить транзакцию
  </mat-card-title>

  <mat-card-content>
    <div class="add-transaction">
      <form
        *ngIf="isTransactionBlockShown"
        [formGroup]="form"
        (submit)="onSubmit()"
      >
        <mat-radio-group
          class="form__control"
          formControlName="transactionType"
        >
          <mat-radio-button class="form__radio" value="expenses">
            Расходы
          </mat-radio-button>
          <mat-radio-button class="form__radio" value="incomes">
            Доходы
          </mat-radio-button>
          <mat-radio-button class="form__radio" value="transfer">
            Перевод
          </mat-radio-button>
        </mat-radio-group>
        <div>

          <div *ngIf="transactionTypeControl.value !== 'transfer'">
            <div class="form__control-group">
              <mat-form-field class="form__control">
                <mat-label>
                  <span>Счет</span>
                </mat-label>
                <mat-select
                  #account
                  (selectionChange)="onAccountChange($event)"
                >
                  <mat-option
                    *ngFor="let account of accounts"
                    [value]="account"
                  >
                    {{ account.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <mat-form-field class="form__control">
              <mat-label>
                <span>
                  Сумма
                </span>
                <span *ngIf="account?.value">
                  {{ currencies[account?.value.currencyId].name }}
                </span>
              </mat-label>
              <input matInput type="number" formControlName="income" formControlName="outcome">
            </mat-form-field>
  
            <div class="form__control-group">
              <mat-form-field class="form__control" *ngIf="categories">
                <mat-label>Категория</mat-label>
                <mat-select
                  (selectionChange)="onCategoryChange($event)"
                >  
                  <mat-option
                    *ngFor="let category of Object.values(categories)"
                    [value]="category.id"
                  >
                    {{ category.name }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
  
          </div>
  
          <div *ngIf="transactionTypeControl.value === 'transfer'">
            <mat-form-field class="form__control">
              <mat-label>Откуда</mat-label>
              <mat-select #accountIncome (selectionChange)="onAccountIncomeChange($event)">
                <mat-option
                  *ngFor="let account of accounts"
                  [value]="account"
                >
                  {{ account.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field class="form__control">
              <mat-label>
                <span>
                  Сумма снятия
                </span>
                <span *ngIf="accountIncome?.value">
                  {{ currencies[accountIncome?.value.currencyId].name }}
                </span>
              </mat-label>
              <input matInput type="number" formControlName="income">
            </mat-form-field>
  
            <mat-form-field class="form__control">
              <mat-label>Куда</mat-label>
              <mat-select #accountOutcome (selectionChange)="onAccountOutcomeChange($event)">
                <mat-option
                  *ngFor="let account of accounts"
                  [value]="account"
                >
                  {{ account.name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field class="form__control">
              <mat-label>
                <span>
                  Сумма пополнения
                </span>
                <span *ngIf="accountOutcome?.value">
                  {{ currencies[accountOutcome?.value.currencyId].name }}
                </span>
              </mat-label>
              <input matInput type="number" formControlName="outcome">
            </mat-form-field>
          </div>
  
        </div>
  
        <div class="form__buttons">
          <button
            class="form__button"
            mat-flat-button
            (click)="isTransactionBlockShown = !isTransactionBlockShown"
          >
            Отмена
          </button>
          <button
            class="form__button"
            mat-flat-button
            color="primary"
            type="submit"
          >
            Добавить
          </button>
        </div>
  
      </form>
  
    </div>

  </mat-card-content>

</mat-card>
