@import '../../../../assets/scss/variables.scss';

:host {
  max-width: $container-width;
}

.root {
  height: 100%;
}

.main {
  height: 100%;

  &__content,
  &__sidenav-container {
    height: 100%;
  }

  &__sidenav {
    width: 20rem;
  }
}
